* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li:active {
  background-color: #555;
}
.nav li:hover {
  background-color: #777;
}

.boxbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 20vh;
  max-height: 50rem;
  max-width: 100rem;
  margin: 3.5rem;
}

.countdown {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(168, 51, 51);
  font-size: 3rem;
  transform: translate(0,50%);

  margin: 5rem;
  /* circle */
  padding: 1rem;

  width: 10rem;
  height: 10rem;
  border: 0.3rem solid black;
  border-radius: 100%;
}

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  border: 1px solid rgb(20, 14, 14);
  padding: 10px;
  background: rgba(129, 104, 108, 0.959);
  color: rgb(252, 240, 240);
  font-size: 18px;
  
  
}
.Collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid rgb(17, 12, 12);
  border-top: 0;
  background: rgb(177, 197, 197);
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
}

.groupdata {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 background: rgb(255, 255, 255);
 
}

.groupbox {
  border: #333;

  background: rgb(255, 255, 255);
  border: 0.3rem solid black;
  border-radius: 10%;
  
}

.background {
  display: flex;
  justify-content: center;
  
  
}



/* */

body.fancy  {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: black;
  height: 100vh;
  width: 100vw;
}

.fancy {
  position: absolute;
  
  transform: translate(0,-100%);
  display: flex;
  color: #e27250;
  font-size: 124px;
  letter-spacing: 8px;
  
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Login & Sign up  */
.root{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  padding-top: 60px;
}

.login{
  max-width: 350px;
  margin: 0 auto 20px;
  border-radius: 4px;
  background-color: #FFF;
  padding: 20px;
  box-sizing: border-box;
}